[submodule "mth"]
	path = pkgs/libs/mth/src
	url = https://github.com/massivethreads/massivethreads.git
[submodule "qth"]
	path = pkgs/libs/qth/src
	url = https://github.com/Qthreads/qthreads.git
[submodule "papi"]
	path = pkgs/libs/papi/src
	url = https://bitbucket.org/icl/papi.git
[submodule "toolkit/tp_parsec/mth_tpswitch"]
	path = toolkit/tp_parsec/mth_tpswitch
	url = https://github.com/massivethreads/massivethreads
